<div class="container"> 
    <div class="row">
        <div class="mt-4 col-3 text-center">
            <div class="card">
                <div class="card-header text-white bg-success">Edit Profile</div>
                <div class="card-body">
                    <%= link_to "View My Profile", user_path(current_user), class: "btn btn-secondary" %>
                </div>
            </div>
        </div>
        <div class="mt-4 col-9 text-center">
            <div class="card">
                <div class="card-header text-center  text-white bg-success">Your Profile</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                            <%= render "shared/devise_messages" %>
                            <div class="field">
                                <%= f.text_field :fullname, placeholder: "Full Name", class: "form-control is-valid col-md-11 mx-auto" %>
                            </div>
                            <div class="field">
                                <%= f.text_field :phone_number, autofocus: true, placeholder: "Phone Number", class: "form-control is-valid m-4 col-md-11 mx-auto" %>
                            </div>
                            <div class="field">
                                <%= f.text_area :description, autofocus: true, placeholder: "Description", class: "form-control is-valid  m-4 col-md-11 mx-auto", id: "validationTextarea" %>
                            </div>
                            <div class="field">
                                <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control is-valid m-4 col-md-11 mx-auto" %>
                            </div>
                            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                            <% end %>
                            <div class="field">
                                <%= f.password_field :password, placeholder: "New Password(leave blank if you don't want to change it)", class: "form-control is-valid m-4 col-md-11 mx-auto" %>
                                <% if @minimum_password_length %>
                                <% end %>
                            </div>
                            <div class="actions">
                                <%= f.submit "Update", class: "btn-danger col-md-11 mx-auto" %>
                            </div>
                        <% end %>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
