<div class="container">
    <div class="row">
        <%= render "rooms/sidebar" %>
        <div class="mt-4 col-9">
            <div class="card">
                <div class="card-header text-white bg-success">Your Trips</div>
                <div class="card-body">
                    <div class="row">
                            <% @reservations.each do |reservation| %>
                                <div class="col-md-2"><%= reservation.start_date.strftime('%v') %></div>
                                <% if reservation.room.photos.first %>
                                    <%= image_tag reservation.room.photos.first.image.url, class: "col-md-2 thumb-trip" %>
                                <% else %>
                                    <%= image_tag ("noimg.png"), alt: "", class: "col-md-2 thumb-trip" %>
                                <% end %>
                                <div class="col-md-4 text-centerpull-left">
                                    <a><%= link_to reservation.room.name, room_path(reservation.room), class: "text-dark" %></a>
                                    <span class="d-block">
                                        <%= link_to user_path(reservation.room.user) do %>
                                            <%= image_tag avatar_url(reservation.room.user), class: "rounded-circle avatar-sm" %>
                                            <%= link_to reservation.room.user.fullname %>
                                        <% end %>
                                    </span>
                                    <br>
                                </div>
                                <div class="col-4 mb-2 pull-right">
                                    <%= render partial: "reviews/guest_form", locals: {reservation: reservation} %>
                                </div>
                                <hr/>
                            <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
