 <div class="container">
    <div class="row">
        <%= render "layouts/sidebar" %> 
        <div class="mt-4 col-9">
            <div class="card">
                <div class="card-header text-white bg-success">Amenities</div>
                <div class="card-body">
                    <div class="container">
                        <%= form_for @room do |f| %>
                            <div class="row">
                                <div class="col-md-4">
                                    <%= f.check_box :has_tv %>
                                    <label>TV</label>
                                </div>
                                <div class="col-md-4">
                                    <%= f.check_box :has_kichen %>
                                    <label>Kichen</label>
                                </div>
                                <div class="col-md-4">
                                    <%= f.check_box :has_internet %>
                                    <label>Internet</label>
                                </div>
                                <div class="col-md-4">
                                    <%= f.check_box :has_heating %>
                                    <label>Heating</label>
                                </div>
                                <div class="col-md-4">
                                    <%= f.check_box :has_aircon %>
                                    <label>Air Conditioning</label>
                                </div>
                            </div>
                            <div class="text-center"><%= f.submit "Save", class: "btn btn-success" %></div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



