 <div class="container">
    <div class="row">
        <%= render "layouts/sidebar" %> 
        <div class="mt-4 col-9">
            <div class="card">
                <div class="card-header text-white bg-success">Listing</div>
                <div class="card-body">
                    <div class="container">
                        <%= form_for @room do |f| %>
                            <div class="row">
                                <div class="col-md-4 select">
                                <div class="form-listing ">
                                    <label>Home Type</label>
                                    <%= f.select :home_type, [["Apartment", "Apartment"], ["House", "House"], ["Bed & Breakfast", "Bed & Breakfast"]],
                                                    id: "home_type", prompt: "Select...", class: "list-control" %>
                                    </div>
                                </div>
                                <div class="col-md-4 select">
                                    <div class="form-listing ">
                                        <label>Room Type</label>
                                        <%= f.select :room_type, [["Entire", "Entire"], ["Private", "Private"], ["Shared", "Shared"]],
                                                id: "room_type", prompt: "Select...", class: "list-control" %>
                                    </div>
                                </div>
                                <div class="col-md-4 select">
                                    <div class="form-listing ">
                                        <label>Accommodate</label>
                                        <%= f.select :guest_count, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                                id: "guest_count", prompt: "Select...", class: "list-control" %>
                                    </div>
                                </div>
                                <div class="col-md-4 select">
                                    <div class="form-listing ">
                                        <label>Bedrooms</label>
                                        <%= f.select :bedroom_count, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                                    id: "bedroom_count", prompt: "Select...", class: "list-control" %>
                                    </div>
                                </div>
                                <div class="col-md-4 select">
                                    <div class="form-listing ">
                                        <label>Bathrooms</label>
                                        <%= f.select :bathroom_count, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                                id: "bathroom_count", prompt: "Select...", class: "list-control" %>
                                    </div>
                                </div>
                            </div>
                            <div><%= f.submit "Save", class: "btn btn-success" %></div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
