<div class="row">
    <%= image_tag @room.photos.first.image.url, :class => "img-responsive col-12 mb-4", style: "height: 600px;" %>

    <div class="col-8 row">
        <div class="col-8">
            <h1><%= @room.name %></h1>
            <%= @room.location %>
        </div>
        <div class="col-4 text-center">
            <%= image_tag avatar_url(@room.user), class: "rounded-circle avatar-large", style: "height: 150px;" %><br/><br/>
            <%= @room.user.fullname %> 
        </div>
        <div class="col-12"><hr/></div>

        <div class="col-12">
            <div class="text-babu text-center row-space-1">
                <div class="row text-center">
                    <div class="col-3">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-user-circle-o fa-2x"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-bed fa-2x"></i>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-bath fa-2x"></i>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-3">HOUSE</div>
                    <div class="col-3"><%= @room.guest_count %> GUEST</div>
                    <div class="col-3"><%= @room.bedroom_count %> Bedroom</div>
                    <div class="col-3"><%= @room.bathroom_count %> Bathroom</div>
                </div>
            </div>
            <hr/>
        </div>


        <div class="col-12">
            <h3>About This Listing</h3>
            <p><%= @room.description %></p>
        </div>
        <div class="col-12"><hr/></div>

        <div class="col-12 row">
            <div class="col-4">
                <h4>Amenities</h4>
            </div>

            <div class="col-8 row">
                <div class="col-7">
                    <div class="<%= 'line-through' unless @room.has_tv %> col-6 p-2">TV</div>
                    <div class="<%= 'line-through' unless @room.has_kichen %> col-6 p-2">Kichen</div>
                    <div class="<%= 'line-through' unless @room.has_internet %> col-6 p-2">Internet</div>
                </div>
                <div class="col-1">
                    <div class="<%= 'line-through' unless @room.has_heating %> col-6 p-2">Heating</div>
                    <div class="<%= 'line-through' unless @room.has_aircon %> col-6 p-2">Aircon</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style= "width: 100%; height: 400px;">
                    <ol class="carousel-indicators">
                        <% @room.photos.each do |photo| %>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= photo.id %>"></li>
                        <% end %>
                    </ol>
                    <div class="carousel-inner" style="width: 100%; height: 400px;">
                        <% @room.photos.each do |photo| %>
                            <div class="carousel-item <%= 'active' if photo.id == @room.photos[0].id %>">
                                <%= image_tag photo.image.url, class: "d-block w-100" %>
                            </div>
                        <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12"><hr/></div>

        <div class="">
            <div id="map"></div>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBR3PdcVF1UUq53eiykXQecvkqki3oy_0"></script>
                <script>
                    function initialize() {
                        var location = {lat: Number("<%= @room.latitude %>"), lng: Number("<%= @room.longitude %>") };
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: location,
                            zoom: 5
                        });
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                        var infoWindow = new google.maps.InfoWindow({
                            content: '<div id="content"><%= image_tag @room.photos.first.image.url %></div>'
                        });
                        infoWindow.open(map, marker);
                    }
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
        </div>
        <div class="col-12"><hr/></div>

        <div class="row col-12">
            <h3>Near by</h3>
        </div>
    </div>

    <div class="col-4">
        <div class="card text-white bg-success" style="max-height: 15rem;">
            <div class="card-header">$<%= @room.price %><a class="pull-right">Per Night</a></div>
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-6">
                            <label class="text-dark">Check in</label>
                            <input class="btn btn-outline-success col-12" placeholder="Start Date">
                        </div>
                        <div class="col-6">
                            <label class="text-dark">Check Out</label>
                            <input class="btn btn-outline-success col-12" placeholder="End Date">
                        </div>
                    </div>
                    <div><%= link_to "Book Now", "#", class: "btn btn-success col-12 my-2" %></div>
                </div>
            </div>
        </div>
    </div>
</div>
