<div class="mt-4 col-3">
    <div class="card">
        <div class="card-header">
            <ul class="list-group p-2 m-1">
                <%= link_to "Listing", listing_room_path, class:"m-10" %>
                <%= link_to "Pricing", "#" %>
                <%= link_to "Description", "#" %>
                <%= link_to "Amenities", "#" %>
                <%= link_to "Location", "#" %>
            </ul>
            <div class="border"></div>
            <div class="card-body">
                <%= link_to "Publish", "#", class: "btn btn-success" %>
            </div>
        </div>
    </div>
</div>
