<div class="mt-4 col-3">
    <div class="card">
        <div class="card-header">
            <ul class="list-group p-2 m-1">
                <%= link_to "Listing", listing_room_path %>
                <%= link_to "Pricing", pricing_room_path %>
                <%= link_to "Description", description_room_path %>
                <%= link_to "Photos", photos_room_path %>
                <%= link_to "Amenities", amenities_room_path %>
                <%= link_to "Location", location_room_path %>
            </ul>
            <div class="border"></div>
            <div class="card-body">
                <%= link_to "Publish", "#", class: "btn btn-success" %>
            </div>
        </div>
    </div>
</div>
